@import "variables";
@import "mixins";
@import "resume";
@import "projectsAdmin";
@import "projects";
@import "header";
@import "bootstrap-overrides";
@import "contact";
@import "footer";
@import "global";
@import "masthead";
@import "navbar";
@import "portfolio";
@import "about";
@import "sections";
@import "technology";

.admin-container {
    display: none;
}

.section-container {
    padding: 1.5em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}