.pagination__page{
  background: white;
  display: inline-block;
  margin: 10px;
  height: auto; width: 25px;
  padding: 10px;
  /* border: 1px solid #0096FF; */
  border-radius: 50%;
  text-align: center;
}

.pagination__page--selected{
  background: #0096FF;
  display: inline-block;
  margin: 10px;
  height: auto; width: 25px;
  padding: 10px;
  /* border: 1px solid #0096FF; */
  border-radius: 50%;
  text-align: center;
  color: white;
}

.pagination__page:hover { 
  cursor: pointer; 
  background: #0096FF;
  color: white;
}

.pagination {
  text-align: center;
  font-size: 1.25em;
  padding-bottom: 20px;
}

.pagination__previous:hover {
  cursor: pointer;
}

.pagination__next:hover {
  cursor: pointer;
}
