#about-wrap {
    display: grid;
    height: 100vh;
    grid-template-rows: 68px minmax(300px, 1fr) 50px; 
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "about-container"
    "footer";
    
    
}

.main-header {
    grid-area: header;
    }

.main-footer {
    grid-area: footer;
}

#about-container {
    min-height: 100vh;
    display: grid;
    grid-area: about-container;
    grid-template-rows: .25fr auto 1fr;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "image image intro intro intro intro"
    "history history history history history history"
    "containercards containercards containercards containercards containercards containercards"; 

}

#container-cards {
    display: grid;
    grid-area: containercards;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 20px;
    padding: 5px 30px 5px 30px;

}


#about-headshot {
    text-align: center;
    height: 100px;
    width: auto;
    border: 1px solid black;
    border-radius: 50%;
}

#about-image {
    grid-area: image;
    text-align: center;
    padding-top: 10%;
    visibility: hidden;
}

#intro {
    grid-area: intro;
    padding-top: 30px;
}

#history {
    grid-area: history;
    padding-bottom: 20px;
    padding-right: 0px;
    margin-left: 30px;
    padding-left: 50px;
    margin-bottom: 50px;
    margin-right: 0;
    background: red;
}



#about-blog {
    grid-column: 1 / 2;
    height: 30px;
}

#about-projects {
    grid-column: 2 / 3;
    height: 60px;
}

#about-resume {
    grid-column: 3 / 4;
    height: 80px;
}

#intro p {
	font-family: 'Archivo Black', sans-serif;
    font-size: 1.25em;
}