#about-wrap {
    display: grid;
    height: 100vh;
    grid-template-rows: 68px minmax(300px, 1fr) 50px; 
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "about-container"
    "footer";
}

.main-header {
    grid-area: header;
    }

.main-footer {
    grid-area: footer;
}

#about-container {
    margin: 0;
    padding: 40px;
    display: grid;
    grid-area: about-container;
    grid-template-rows: .25fr 1fr 1fr;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "intro intro intro intro intro intro"
    "containercards containercards containercards containercards containercards containercards"
    "history history history history history history";

}

#container-cards {
    display: grid;
    grid-area: containercards;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin-left: 40px;
    grid-gap: 20px;
    text-align: center;
}

.about-card {
    padding: 0px;
    height: 120px;
}

#about-headshot {
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

#about-image {
    grid-area: image;
    text-align: center;
    padding-top: 10px;
    margin-left: 50px;
    /* background-image: url("./images/sm-headshot.jpg"); */
    text-align: center;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    height: 100%;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;

}


#intro {
    grid-area: intro;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}

#history {
    width: 100%;
    grid-area: history;
}

#history p {
    padding: 20px;
}

.about-card-icon {
    text-align: center;
    font-size: 2em;
    padding: 10px;
}

.about-card-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
    background-color: rgba(0,0,0,.25);
}

.about-card-description {
    text-align: left;
    font-size: .8em;
}

#about-blog {
    /* grid-column: 3 / 4; */
    animation: 3s ease-out 0s 1 slideInFromLeft;
    text-align: center;
}


#about-projects {
    /* animation: 1s ease-out 0s 1 slideInFromLeft; */
    grid-column: 1 / 2;
}

#about-resume {
    /* animation: 2s ease-out 0s 1 slideInFromLeft; */
    grid-column: 2 / 3;
}

#about-projects, 
#about-blog,
#about-resume {
    display: none;
}

@keyframes slideInFromLeft {
    /* 0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    } */
  }

#intro p {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.50em;
}