@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro|Archivo+Black|Oswald|Roboto|Bungee+Shade');
/*
font-family: 'Source Serif Pro', serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/*
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Bungee Shade', sans-serif;
*/



.project-img {
	width: 100%;
	height: auto;

	
}

/* .project_img_divider {
	height: 11px;
	width: 100%;
	background-color: gray;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	/* font-family: 'Roboto', sans-serif; */
	background: #D4D3D3;
}

.section-background {
	background-color: #52bab3;
}

.main-content {
	margin-top: 200px !important;
	text-align: center;
	margin-bottom: 100px;
	min-height: 100%;
}


select {
	width: 84%;
	margin: 11px  0 11px 2%;
	/* float: left; */
}


#brand {
	font-weight: bold;
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 1.5em; 
}

h1 {
	margin: 40px 0 10px;
	text-align: center;
}

article {
	
    text-align: left;
    /*margin-left: 20px; */
    /* padding-top: 20px; */
    /* border-top: 1px solid #B3B3B3; */
}

article ul {
	list-style-position: inside;
}

article p {
	padding-bottom: 10px;
}

/* --- Class Level Attributes --- */
.card {
	padding: 10px;
	margin-bottom: 30px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #1D1D1D;
	border: solid 5px white;
}


.article-header {
	background-color: inherit;
	color: inherit;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin-bottom: 10px;
} 

.project-detail,
.profesional-experience {
	position: relative;
}
.professional-experience {
	position: relative;
	padding: 10px;
	padding-left: 50px;
	margin: 0 auto;
	margin-bottom: 20px;
	position: relative;
}

.resume-jobs{
	display: flex;
}
.profesional-experiece h3 {
	padding: 10px 0px 10px 0px;
	font-weight: bold;
}
.professional-experience img {
	position: absolute; left: -15px; top: -15px;
	left: -50;
	z-index: 1;
	width: 60px;

}
.professional-experience li {
	list-style-position: outside;
	margin-left: 1em;
	padding: 10px 10px 15px 0px;

}




/* <----- Blog Specific Styles ------> */

.social-img {
	
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 0px;
	margin-top: 10px;
}

.first-line:first-line {
	font-weight: bold;
	font-size: 1.4em;
}



.brand {
	font-size: 1.5em;
	padding-top: 10px; 
	padding-left: 10px;
	color: white;
	height: 40px;

}

.fixed {
	position: fixed;
	z-index: 100;
	top: 0;
	margin-top: 0px;
}


/*
.float {
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-ms-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;
  }

.float:hover {
	-webkit-transform:translate(0px,-5px);
	-moz-transform:translate(0px,-5px);
	-ms-transform:translate(0px,-5px);
	-o-transform:translate(0px,-5px);
	transform:translate(0px,-5px);
  }
*/

.project-tag ul li{
	margin: 0;
	text-align: center;
}

.project-tag li {
	display: inline-block;
	list-style-type: none;
	/* border: solid 1px #000000; */
	text-align: center;
	vertical-align: bottom;
	background-color: #E4E4E4;
	width: 80px;
	border-radius: 25px;
	color: black;
	padding: 5px;
	font-size: .75em;

}

.social-links-header {
	font-family: 'Bungee Shade', sans-serif;
	padding: 30px 0px 30px 0px;
	text-align: center;
}

#social-links div {
	text-align: center;
	display: block;
}




@media (min-width: 320px) and (max-width: 568px) {
  #menu ul {
    display: none;
  }

  .main-header {
	  background:  linear-gradient(to right,black, darkgrey);
  }

}


@media (max-width: 769px) {
  #menu select, #menu button {
    display: none;
  }

  .article-header {
	  height: auto;
  }
}

.wrap {
	min-height: calc(100vh - 90px);
}
