@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Oswald|Roboto|Bungee+Shade');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Bungee Shade', sans-serif;
*/

* {
	margin: 0;
	padding: 0;

}


body {
	font-family: 'Roboto', sans-serif;
	background: #D4D3D3;
}

nav {
	background: #384047;
	height: 40px;
	width: 100%;
	
	padding-top: 0px;
	text-align: left;
	font-size: 1em;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
	width: 84px;
	text-align: center;
}


nav ul li a {
	color: #fff;
	width: 100%;
	line-height: 40px;
	text-decoration: none;
}

nav ul li.selected {
	background: #fff;
}

nav ul li.selected a {
	color: #384047;
}

select {
	width: 84%;
	margin: 11px  0 11px 2%;
	float: left;
}
header {

	background-color: black;
	color: white;
}

#brand {
	font-weight: bold;
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 1.5em; 
}

h1 {
	margin: 40px 0 10px;
	text-align: center;
	color: #384047;
}

article {
	
	width: 90%;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 20px;
    border-top: 1px solid #B3B3B3;
}

article ul {
	list-style-position: inside;
}

article p {
	padding-bottom: 10px;
}

/* --- Class Level Attributes --- */
.article-header {
	background-color: inherit;
	color: inherit;
	font-family: 'Archivo Black', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	height: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin-bottom: 10px;
} 

.professional-experience {
	border: solid 1px black;
	background-color: white;
	box-shadow: 10px 5px 5px black;
	padding: 10px;
}

.professional-experience li {
	list-style-position: outside;
	margin-left: 1em;
}

.project-detail {
	border: solid 1px black;
	background-color: white;
	box-shadow: 10px 5px 5px black;
	padding-top: 0px;	
	padding-left: 100px;
	width: 85%;
	min-height: 80px;
	padding-bottom: 10px;

}
.project-tag ul li{
	margin: 0;
	text-align: center;
}

.project-tag li {
	display: inline-block;
	list-style-type: none;
	border: solid 1px #999898;
	text-align: center;
	vertical-align: bottom;
	background-color: black;
	width: 80px;
	border-radius: 5px;
	color: white;
}

.javascript {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 80px;
	background-image: url("images/js.png");
}

.css {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 80px;
	background-image: url("images/css.png");
}


.project-detail li {
	list-style-position: outside;
	margin-left: 1em;
	

}

.project-detail img {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

/* <----- Blog Specific Styles ------> */

.blog-post {
	clear: left;
	padding: 10px;
	margin-bottom: 30px;
	background-color: #52bab3;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #1D1D1D;
	border: solid 5px white;
}

.blog-content::first-line{
	font-weight: bold;
	font-size: 1.1em;
}

.blog-header {
	padding: 0; margin: 0;
	border-bottom: solid 1px black;
	width: 100%;
	padding-bottom: 10px;
}

.blog-title {
	display: inline-block;
	width: 80%;
	font-family: 'Archivo Black', sans-serif;
	font-size: 1.5em;
	
}
.blog-date {
	text-align: right;
	padding: 0;
	display: inline-block;
	width: 15%
}

.blog-content {
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: auto;
}

.blog-content img {

	max-height: 300px;
	margin: 15px;
	border: solid 2px white;
}

.blog-content .float-left {
	float: left;
}

.blog-footer {
	padding-top: 10px;
	border-top: solid 1px black;
}
.social-img {
	
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 0px;
	margin-top: 10px;
}

.first-line:first-line {
	font-weight: bold;
	font-size: 1.4em;
}

/* <---- HEADERS -----> */

.main-header {
	padding: 0px;
	background: linear-gradient(to right,black, darkgrey);
	width: 100%;
	margin: 0px;
	/*background-color: rgb(255, 5, 5);*/
	color: white;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 10px #5A5A5A;
	
}

.brand {
	font-size: 1.5em; 
	padding-left: 10px;
}


/* <---- FOOTERS -----> */
.main-footer {
	padding-top: 15px;
	padding-left: 10px;
	color: white;
	text-align: left;
	height: 40px;
	font-size: .8em;
	background: rgb(56, 64, 71);
	/*
	background: 	url("images/linkedin.png") 250px 0px/40px 40px no-repeat,	
					  url("images/twitter.png") 200px 0px/40px 40px no-repeat;
	*/				
}

/*
.float {
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-ms-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	transition:all .2s ease-out;
  }

.float:hover {
	-webkit-transform:translate(0px,-5px);
	-moz-transform:translate(0px,-5px);
	-ms-transform:translate(0px,-5px);
	-o-transform:translate(0px,-5px);
	transform:translate(0px,-5px);
  }
*/

#social-links h2 {
	font-family: 'Bungee Shade', sans-serif;
	padding: 30px 0px 30px 0px;
	text-align: center;
}

#social-links li {
	text-align: center;
	display: block;
	margin-left: 20px;
}


#intro p {
	font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
}

@media (min-width: 320px) and (max-width: 568px) {
  #menu ul {
    display: none;
  }

  .main-header {
	  background:  linear-gradient(to right,black, darkgrey);
  }

}


@media (min-width: 568px) {
  #menu select, #menu button {
    display: none;
  }
}

.wrap {
	min-height: calc(100vh - 40px);
}
