.nav {
  --main-bg-color: #374048;
  height: 50px;
  cursor: pointer;
	width: 100%;
	padding-top: 0px;
	text-align: left;
  font-size: 1em;
  background: var(--main-bg-color);

}

.nav__list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  height: 100%;
  text-align: center;

}

.nav__brand {
  width: 200px;
  padding-top: 5px;
  font-size: 2em;
  font-family: 'Source Serif Pro', sans-serif;
  color: white;
}

.nav__link:hover {
  background-color: white;
  color: white;
}


.nav__link {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  font-size: 1.25em;
  width: 10%;
}

.nav__link--selected {
  width: 10%;
  text-decoration: none;
  background: purple;
  color: white;
  padding-top: 10px;
  font-size: 1.25em;
}

.nav__link--selected:hover {
  text-decoration: none;
}

/* --- ARROWS --- */
.nav__link--selected {
	position: relative;
	background: var(--main-bg-color);
}

.nav__link--selected:after, .nav__link--selected:before {
	top: 100%;
	left: 50%;	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.nav__link--selected:after {
	border-top-color: var(--main-bg-color);
	border-width: 15px;
	margin-left: -15px;
}

.nav__list:before {	
	border-top-color: var(--main-bg-color);
	border-width: 21px;
	margin-left: -21px;
}

/**
* Collapsing menu for navbar
**/
.menu-col {
  width: 35px;
  padding: 5px;
  display: none;
}

.menu-col__bar {
  padding: 0;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.menu-col__bar:first-child {
  margin-top: 1.25px;
}

.menu-list {
  display: none;
}

.menu-list__list {
  width: 300px;
  background-color: white;
  list-style: none;

}
.menu-list__item {
  height: 10px;
  padding: 25px;   
}
.menu-list__item:nth-child(even) {
  background-color: grey;
}
.menu-list__item:hover {
  background-color: red;
}

@media (max-width: 769px) {
  
  .menu-col {
    display: block;
    margin-right: auto;

  }
  .nav__link {
    display: none;
  }
  .nav__list {
    justify-content: flex-end;
  }

}