<div class="wrap" id="about-wrap">
    <!-- image -->
    <div id="about-image">
        <div class="about__image-textblock">
            <div id="text-block-brand">Krys Mathis</div>
            <div id="text-block-tagline">Software Developer</div>
            <div class="about__intro">I am a member of
                <span>cohort 22</span> @ Nashville Software School </div>
            <article id="history" class="about__history article first-line section-background">
                <p>I chose to become a software developer because I love to learn and solve problems. With my last
                    company, I started developing 'software' with whatever technology I had on hand. I was often
                    the first stop when people encountered system or technical issues or if they had a great
                    idea but didn't know how to implement it. Instead of continuing to give unqualified advice,
                    I decided to leverage NSS to help me make the move to professional software developer.
            </article>
        </div>
    </div>

    <article id="intro" class="article">
    </article>
</div>