
<header class="masthead text-black text-center">
    <div class="container">
        <!-- <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt=""> -->
        <h1 class="text-uppercase mb-0">Krys Mathis</h1>
        <!-- <hr class="star-light"> -->
        <h2 class="font-weight-light mb-0">Full-Stack Software Developer</h2>
    </div>
</header>
<div class="about__divider">
    <hr class="star-light"></hr>
</div>
    <div class="about__text">
    <p>I’m passionate about separating the signal from the noise, by any means necessary, in search of the ultimate business insights. I’m fascinated by projects that apply statistical methods to analyze business problems, leverage technology to build new tools and present compelling visualizations that simplify the data for decision makers, without distorting the underlying meaning.</p>
</div>

