
.blogForm {
  text-align: left;
  padding-left: 20px;
}
.blogForm__content {
  height: 200px;
  width: 600px;
}

.blogForm__btnSave {
  width: 200px;
  height: 50px;
}

.blogForm label,
.blogForm input {
  display: block;
  padding: 5px;
  width: 400px; 
}
