<div class="container">
  <h1>Project Entry Form</h1>
  <div class="" style="text-align:left;">
    <div class="form-group row">
      <label class="control-label col-md-2">Completion Date:</label>
      <div class="col-md-10">
        <input type="date" class="projectInput__date form-control" />
      </div>
    </div>
    <!--description -->
    <div class="form-group row">
      <label class="control-label  col-md-2">Description</label>
      <div class="col-md-10">
        <textarea class="projectInput__description form-control"></textarea>
        <small class="help-block">Short description of the project</small>
      </div>
    </div>
    <!-- href -->
    <div class="form-group row">
      <label class="control-label  col-md-2">href</label>
      <div class="col-md-10">
        <input type="text" class="projectInput__href form-control" />
        <small class="help-block">URL for deployed site</small>
      </div>
    </div>
    <!-- internalId (Modal Id)-->
    <div class="form-group row">
      <label class="control-label  col-md-2">modal Id</label>
      <div class="col-md-10">
        <input type="text" class="projectInput__modalId form-control" />
        <small class="help-block">modal id code</small>
      </div>
    </div>
    <!-- name -->
    <div class="form-group row">
      <label class="control-label  col-md-2">Project Name</label>
      <div class="col-md-10">
        <input type="text" class="projectInput__name form-control" />
        <small class="help-block">Project name</small>
      </div>
    </div>
    <!-- repository -->
    <div class="form-group row">
      <label class="control-label  col-md-2">Github Repo</label>
      <div class="col-md-10">
        <input type="text" class="projectInput__repo form-control" />
        <small class="help-block">Link to repo</small>
      </div>
    </div>
    <!-- teammates -->
    <div class="form-group row">
      <label class="control-label  col-md-2">Teammates</label>
      <div class="col-md-10">
        <input type="text" class="projectInput__teammates form-control" />
        <small class="help-block">May need some special decoding for this one</small>
      </div>
    </div>
    <!-- technologies -->
    <div class="form-group row">
      <label class="control-label  col-md-2">Technologies</label>
      <div class="col-md-10">
        <input type="text" class="projectInput__technologies form-control" />
        <small class="help-block">space seperated list of technologies</small>
      </div>
    </div>
    <div class="form-group row">
        <label class="control-label  col-md-2">Screenshot</label>
        <div class="col-md-10">
          <input type="text" class="projectInput__sceenshot form-control" />
          <small class="help-block">url to the screenshot</small>
        </div>
    </div>

  </div>
</div>