.aboutContainer {
    height: 100vh;
}

.blogContainer {
    height: 100vh;
    margin-bottom: 60px;
}

.blogAdminContainer {
    margin-bottom: 100px;
}

.section-container {
    margin-top: 60px;
}
