.resume__job-list {
  font-size: 1em; }

.projectEntry__li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; }

.projectEntry__li:hover {
  background-color: #52bab3; }

/* Seach bar criteria */
.searchBar {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  visibility: hidden; }

.searchBar__input {
  width: 100%;
  height: 25px;
  padding: 5px;
  margin-left: 5px;
  font-size: 1em; }

.project-title {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* <---- HEADERS -----> */
.main-header {
  padding: 0px;
  background: #2C3E50;
  width: 100%;
  margin: 0px;
  /*background-color: rgb(255, 5, 5);*/
  color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 10px #5A5A5A; }

a {
  color: #52bab3; }
  a:focus, a:hover, a:active {
    color: #3e9b95; }

.btn {
  border-width: 2px; }

.bg-primary {
  background-color: #52bab3 !important; }

.bg-secondary {
  background-color: #2C3E50 !important; }

.text-primary {
  color: #52bab3 !important; }

.text-secondary {
  color: #2C3E50 !important; }

.btn-primary {
  background-color: #52bab3;
  border-color: #52bab3; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #3e9b95;
    border-color: #3e9b95; }

.btn-secondary {
  background-color: #2C3E50;
  border-color: #2C3E50; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #1a252f;
    border-color: #1a252f; }

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef; }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important; }
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; }
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #52bab3; }

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef; }

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2C3E50;
  color: #fff; }

.copyright {
  font-size: .8em; }

.social-links {
  padding-right: 100px; }

/* <---- FOOTERS -----> */
.main-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  color: white;
  text-align: left;
  height: 60px;
  font-size: 1.5em;
  background: #2C3E50;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 5px;
  z-index: 100; }

.main-footer span {
  padding-left: 50px; }

body {
  font-family: 'Lato'; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat'; }

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 200px; }

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em; }

hr.star-light {
  border-color: #fff; }

hr.star-light:after {
  color: #fff; }

hr.star-dark {
  border-color: #2C3E50; }

hr.star-dark:after {
  color: #2C3E50;
  background-color: white; }

section {
  padding: 6rem 0; }
  section h2 {
    font-size: 2.25rem;
    line-height: 2rem; }
  @media (min-width: 992px) {
    section h2 {
      font-size: 3rem;
      line-height: 2.5rem; } }

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem; }

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem; }

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none; }
  .scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, 0.5);
    line-height: 3.1rem; }

header.masthead {
  padding-bottom: 6rem; }
  header.masthead h1 {
    font-size: 3rem;
    line-height: 3rem; }
  header.masthead h2 {
    font-size: 1.3rem;
    font-family: 'Lato'; }

@media (min-width: 992px) {
  header.masthead {
    padding-bottom: 6rem; }
    header.masthead h1 {
      font-size: 4.75em;
      line-height: 4rem; }
    header.masthead h2 {
      font-size: 1.75em; } }
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat'; }
  #mainNav .navbar-brand {
    color: #fff; }
  #mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem; }
    #mainNav .navbar-nav li.nav-item a.nav-link {
      color: #fff; }
      #mainNav .navbar-nav li.nav-item a.nav-link:hover {
        color: #52bab3; }
      #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
        color: #fff; }
      #mainNav .navbar-nav li.nav-item a.nav-link.active {
        color: #52bab3; }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s; }
    #mainNav .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s; }
    #mainNav .navbar-nav {
      margin-top: 0; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #fff;
      background: #52bab3; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: #fff;
        background: #52bab3; }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.5em; } }
.portfolio {
  margin-bottom: -15px; }
  .portfolio .portfolio-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px; }
    .portfolio .portfolio-item .portfolio-item-caption {
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background-color: rgba(82, 186, 179, 0.9); }
      .portfolio .portfolio-item .portfolio-item-caption:hover {
        opacity: 1; }
      .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
        font-size: 1.5rem; }
  @media (min-width: 576px) {
    .portfolio {
      margin-bottom: -30px; }
      .portfolio .portfolio-item {
        margin-bottom: 30px; } }

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5); }
  .portfolio-modal .portfolio-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem; }
    .portfolio-modal .portfolio-modal-dialog .close-button i {
      line-height: 38px; }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 2rem; }
@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px); }
    .portfolio-modal .portfolio-modal-dialog h2 {
      font-size: 3rem; } }

.about__divider {
  display: flex;
  justify-content: center; }

/* ======= Sections======= */
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px; }

.section {
  margin-bottom: 30px; }

.section .section-inner {
  background: #fff;
  padding: 30px; }

.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px; }

.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px; }

/* About Section */
/* Latest Section */
.latest .item {
  margin-bottom: 30px; }

.latest .item .title {
  font-size: 18px;
  margin-top: 0; }

.latest .item .title .label {
  margin-left: 5px;
  font-size: 12px; }

.latest .item .title a {
  color: #778492; }

.latest .item .title a:hover {
  color: #5f6b77; }

.latest .item .project-image:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8; }

.latest .divider {
  margin-bottom: 60px; }

.latest .featured {
  margin-bottom: 60px; }

.latest .featured .title {
  margin-bottom: 5px;
  font-size: 20px; }

.latest .featured .summary {
  margin-bottom: 30px;
  color: #778492; }

.latest .featured img {
  margin-bottom: 30px; }

.latest .featured .desc {
  margin-bottom: 30px; }

.latest .featured-image {
  position: relative; }

.latest .featured-image .text {
  background: #3AAA64;
  color: #fff; }

.latest .featured-image .ribbon {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 110px;
  height: 110px;
  overflow: hidden; }

.latest .featured-image .ribbon .text {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: -8px;
  top: 18px;
  width: 158px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #479FC8;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0); }

.latest .featured-image .ribbon .text:before,
.latest .featured-image .ribbon .text:after {
  content: '';
  position: absolute;
  bottom: -5px;
  border-top: 5px solid #276582;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; }

.latest .featured-image .ribbon .text:before {
  left: 0; }

.latest .featured-image .ribbon .text:after {
  right: 0; }

/* Projects Section */
.projects .item {
  margin-bottom: 30px; }

.projects .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5; }

.projects .item .title a {
  color: #778492; }

.projects .item .title a:hover {
  color: #5f6b77; }

/* Work Section */
.experience .item {
  margin-bottom: 30px; }

.experience .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5; }

.experience .item .title .place {
  color: #999;
  font-weight: normal; }

.experience .item .title .place a {
  color: #999; }

.experience .item .title .place a:hover {
  color: #666666; }

.experience .item .title .year {
  color: #999;
  font-weight: normal; }

/* Git section */
.github-graph {
  margin-bottom: 30px; }

.github-graph .js-calendar-graph-svg {
  max-width: 100%; }

.ghfeed {
  height: 600px; }

.ghfeed,
.ghfeed *,
.ghfeed *:before,
.ghfeed *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* Info Section */
.info .fa {
  margin-right: 15px;
  color: #ccd1d6; }

.info .fa.fa-envelope-o {
  font-size: 14px; }

.info ul {
  margin-bottom: 0; }

.info li {
  margin-bottom: 15px; }

.info li:last-child {
  margin-bottom: 0; }

/* Skills Section */
.skills .intro {
  margin-bottom: 30px; }

.skills .skillset .item {
  margin-bottom: 30px; }

.skills .skillset .level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10; }

.skills .skillset .level-title .level-label {
  color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0; }

.skills .skillset .level-bar {
  height: 15px;
  background: #e8e8e8; }

.skills .skillset .level-bar-inner {
  height: 15px;
  background: #66cb8c; }

/* Testimonials section */
.testimonials .item {
  margin-bottom: 30px; }

.testimonials .item:last-child {
  margin-bottom: 0; }

.testimonials .item .quote {
  color: #666;
  font-size: 16px;
  border-left-color: #9fdeb7;
  margin-bottom: 15px; }

.testimonials .item .quote .fa {
  color: #79d19a;
  margin-right: 15px; }

.testimonials .item .source {
  font-size: 14px;
  padding-left: 30px;
  font-weight: 500; }

.testimonials .item .source .name {
  color: #939ea9;
  font-weight: 600; }

.testimonials .item .source .title {
  color: #999; }

/* Education section */
.education .item {
  margin-bottom: 30px; }

.education .item:last-child {
  margin-bottom: 0; }

.education .item .title {
  font-size: 16px;
  margin-top: 0; }

.education .item .university {
  font-family: "Lato", arial, sans-serif;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  padding-left: 25px; }

.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500; }

/* Language Section */
.languages .item {
  margin-bottom: 15px; }

.languages .item .title {
  color: #778492; }

.languages .item .level {
  color: #999; }

.languages .item:last-child {
  margin-bottom: 0; }

.languages .item .fa {
  color: #79d19a; }

/* Blog Section */
.blog .item {
  margin-bottom: 30px; }

.blog .item .title {
  font-size: 18px;
  line-height: 1.3; }

.blog .item .title a {
  color: #778492; }

.blog .item .title a:hover {
  color: #5f6b77; }

.blog .item:last-child {
  margin-bottom: 0; }

/* List section */
.list ul li {
  margin-bottom: 10px; }

.list ul li .fa {
  margin-right: 5px; }

.list ul li a {
  color: #778492; }

.list ul li a:hover {
  color: #49515a; }

.admin-container {
  display: none; }

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center; }

/*# sourceMappingURL=main.css.map */
