.project-detail {
    max-width: 800px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding-top: 0px;	
	width: 85%;
	min-height: 80px;
	padding-bottom: 10px;
	position: relative;

}

.project-detail__text {
	padding: 10px;
}

.javascript {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 80px;
	background-image: url("../images/js.png");

}

.css {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 80px;
	background-image: url("../../images/css.png");
}

.html {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 80px;
	background-image: url("../../images/js.png");

}

.project-detail li {
	list-style-position: outside;
	margin-left: 1em;
	

}

