

.project-tag li {
	display: inline-block;
	list-style-type: none;
	/* border: solid 1px #000000; */
	text-align: center;
	vertical-align: bottom;
	background-color: #E4E4E4;
	width: 80px;
	border-radius: 25px;
	color: black;
	padding: 5px;
	font-size: .75em;

}

.javascript {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 80px;
	background-image: url("images/js.png");

}

.css {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 80px;
	background-image: url("images/css.png");
}

.html {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 80px;
	background-image: url("images/js.png");

}

.project-detail li {
	list-style-position: outside;
	margin-left: 1em;
}


